<!DOCTYPE html>
<html lang="{{ site.locale|default('en') }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/main.css">
        <title>{{ site.name|default('Shelley Sculpin Site') }}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
