<!DOCTYPE html>
<html lang="{{ site.locale|default('en') }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/build/tailwind.css">
        <title>{{ site.name|default('Shelley Sculpin Site') }}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body class="bg-light-blue">
        {% block body %}{% endblock %}
    </body>
    <footer class="footer"> &copy; 2024 Shelley Lay </footer>
</html>
