{% extends 'app' %}

{% block body %}
  <div class="container">
    <div class="prose prose-a:text-black prose-a:underline">
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}
