{% extends 'app' %}

{% block body %}
  <div class="max-w-2xl mx-auto p-6 mb-10">
    {# TODO: move page title headings out of prose content and style them seperately #}
    <h1 class="hidden">{{ page.title }}</h1>
      <div class="{{ site.proseClasses }}">
        {% block content %}{% endblock %}
      </div>
  </div>
{% endblock %}
