<div class="flex flex-col md:flex-row">
    <div class="bg-dark-blue px-6">
      <a href="{{ site.logoLink.url }}">
        <img class="h-32 w-32" src="../assets/LogoSL.png" alt="logo" >
        <span class="sr-only">{{ site.name }}</span>
      </a>
    </div>
</div>
